@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
 
}
* {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: rgb(232, 251, 255);
}
.container{
    width: 100vw;
    height: auto;
    min-height: 100vh;
 
}
.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: flex-start;
    align-items: center;
    border: 1px solid  rgb(154, 163, 248);
    padding: 0 40px;
    position: sticky;
    top:0;
    left: 0;
    z-index: 210;
    box-shadow:0px 3px 8px rgb(0, 4, 255);
 
}
.login-page{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.800);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index:1000;
    color: white;
}
.login-page a {
    margin-top: 20px;
    text-decoration: none;
    color:rgb(0, 89, 255); 
}
.login{
    width: 25vw;
    height: auto;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: red;
    box-shadow: 0 0 10px white;
    border-radius: 20px;
    border: 5px solid black;

}
  
.login-text{
    color: white;
    position: absolute;
    right:150px;
    cursor: pointer;
}
.close-login{
    position: absolute;
    color:white;
    font-size: 2rem;
    text-shadow: -1px 1px 1px black;
    top: 34vh;
    right: 39%;
    cursor: pointer;
 
}
.register-page{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.800);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index:1000;
    color: white;
 }
 .register-page a{
    margin-top: 20px;
    text-decoration: none;
    color:rgb(0, 89, 255); 
 }
.register-text{
    color: white;
    position: absolute;
    right:250px;
    cursor: pointer;
}
 .close-register{
    position: absolute;
    color:white;
    font-size: 2rem;
    text-shadow: -1px 1px 1px black;
    top: 33vh;
    right: 39.5%;
    cursor: pointer;
 }
 #email{
     margin-left: 33px;
    } /*posisi email*/
.menu-icon{
    margin-left: auto;
    cursor: pointer; 
    color: white;
    font-size: 40px;

 
}
.menu-icon:hover{
    font-size: 45px;
    color:rgb(0, 255, 221);
}  
 
.brand {
 
    position: relative;
    font-size: 40px;
    color:rgb(0, 247, 255); 
    text-shadow: -3px 1px 1px rgb(0, 89, 255),0px 2px 1px rgb(15, 0, 150);
    cursor: pointer;
    left: 100px;
 
}

.modal-menu{
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.900);
display: none;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 25px;
z-index:200;
}

.close-icon{ 
    position: absolute;
    color:white;
    font-size: 2rem;
    text-shadow: -1px 1px 1px black;
    top: 15vh;
    right: 7%;
}
.home{
 
    justify-content: flex-start;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    text-shadow: -2px 2px 1px rgb(28, 32, 255), 0 3px 1px black ;
    color: white;
    flex-direction: column  ;
 
} 
.about{
   display: grid !important;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 
   "box1 box2"
   "box3 box4";
}
.box{
    width: 100%;
    height: 100%; 
    padding: 35px; 
    cursor: default;
     
}
.about_box1{
    grid-template: box1;
    background-image: url(./bg3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 0 0 200px 0px;
    border: 6px solid rgb(0, 162, 255);

}
.about_box2{
    grid-template: box2;
    box-shadow: inset -23px 7px 1px rgb(0, 162, 255) ;
}
.about_box3{
    grid-template: box3;
    box-shadow: inset 7px -7px 1px rgb(0, 162, 255);
   

}
.about_box4{
    grid-template: box4;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(./bg4.jpg);
    border-radius: 200px 0 0px 0px;
    border: 6px solid rgb(0, 162, 255);
    box-shadow: inset -17px 0px 1px rgb(0, 162, 255) ;
 
}
.contact{
    background-image: url(./bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-shadow: -2px 2px 1px rgb(255, 0, 0) ;
    color: rgb(255, 255, 255);
}
.showcase {
    background-image: url(./bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-shadow: -2px 2px 1px rgb(255, 0, 0) ;
    color: white;
}
.close-alert{
 color: rgb(255, 0, 0);
position: absolute;
right: 100px;
cursor: pointer;
text-shadow: 1px 1px 0px rgb(76, 0, 255), -1px -1px 0px rgb(76, 0, 255);
}
.alertAbout{
    width: 100vw;
    height: 8vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(28, 32, 255);
    color: white;
    position: sticky;
    top:10vh; 
    z-index: 80; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.61);
    margin-bottom: auto;
    cursor: default;
}
 
.close-icon:hover{
    color:orangered;
    cursor: pointer;
    font-size: 2.5rem;
}

.modal-menu a{
    text-decoration: none;
    color:white;
    font-size: 2rem;
    text-shadow: -1px 2px 2px rgb(255, 0, 0);
}
.modal-menu a:hover{
    color: rgb(238, 255, 0);
    text-shadow: -1px 2px 1px rgb(255, 0, 0);
    font-size: 2.25rem;
}
.brand:hover{
    color: rgb(0, 217, 255);

}

.container section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100%;
}
.home-image{
 
  height: 350px;
  width:350px;  
  border: 5px solid rgb(2, 1, 58);
  box-shadow: 3px 3px 10px rgb(0, 4, 255), -3px -3px 10px rgb(0, 4, 255) ;
  object-fit: cover;
  border-radius: 40px 40px 40px 150px;
  object-position: center;
  cursor: default;
  animation-name: bottomToTop;
  animation-duration: 1.5s;
  animation-iteration-count: 1;

 
}
.home-image:hover{
    height: 370px;
    width: 370px;

}
.home-text{
    font-size: 5rem; 
    margin-left: 20px;
    animation-name: rightToLeft; 
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: .5s;
    cursor: default;
    opacity: 0;
    animation-fill-mode: forwards;
}

.rotate-icon{
    animation-name: rotate;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    font-size: 5rem;
    cursor: default; 
    animation-timing-function: linear;
 
}
@keyframes bottomToTop{

from{
transform: translateY(20vh);
opacity: 0.1;
}
to{
    transform: translateY(0vh);
    opacity: 1;
}

}
@keyframes rightToLeft{

    from{
    transform: translateX(20vw);
    opacity: 0.1;
    }
    to{
        transform: translateX(0vw);
        opacity: 1;
    }
    
    }
    @keyframes rotate{
       from{
           transform:rotate(0deg)
       }
       to{
           transform: rotate(360deg);
       }
    }